.bg{
  
    background-color: #E6E9E9;
    height: 100%;
}

.card__bd {
    /* background: url(../img/admin/ok.jpg) no-repeat center ; */
    background-size: 600px  400px ;
  margin: 0 auto;
  float: none;
  margin-top: 20%;
  height: 30erm;
  width: 30rem;
  color: black;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.8, 0.8);
  transition: 0.3s;
}
.card-title {
  text-align: center;
  
}
.input__field {
  margin-bottom: 20px;
  border-radius: 5px;
  background: #E6E9E9;
  border: 1px solid black;
  color: black;
  width: 100%;
  padding: 5px;
}

.input__field:hover {
  background: #dadddd;

  width: 100%;
  border-radius: 5px;
  border-left: 6px solid #f48225;
}
.logo {
  text-align: center;
  color: black;
}
.logo:hover {
  color: black;
  text-decoration: none;
}
.input__submit {
  /* background-color:#484B50; */
  border: 1px solid black;
  color: black;
  padding: 5px 8px;

  border-radius: 3px;
}
.input__submit:hover {
  color: black;

  padding: 5px 8px;

  border-radius: 3px;
  /* background-color: #3B3C3E; */
  border: 1px solid black;
}
.msg{
  color: red;
}